# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.VC.db
*.sln
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.ipch

# OS / tooling
.DS_Store
Thumbs.db

# Build artifacts
Build/
